<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<title>MY PORTFOLIO</title>

<body>
    <a href="https://www.w3schools.com/html/html_images.asp" target="_blank">
        <link rel="stylesheet" href="index.css">
        <img src="src/photo_2023-10-29_22-23-46.jpg" alt="HTML tutorial" width="42px" height="42px">
      </a>
        <h1>THis is my name </h1>
        <p>i am udanga</p>
        <h6>this is my name </h6>
        <p>
            My Bonnie lies over the ocean.
          
            My Bonnie lies over the sea.
          
            My Bonnie lies over the ocean.
          
            Oh, bring back my Bonnie to me.
          </p> 

</body>
</html>